.venv/

# Model finetuning outputs
gemma4-*-sci-lora/
gemma4-*-sci-gguf/

gemma4-4b-tikz-lora/
gemma4-4b-tikz-gguf/

llama.cpp/
model.gguf

unsloth_compiled_cache/
gemma4-4b-sci-gguf_gguf/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment
.env
